@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* N A V B A R */
.myNav {
    background-color: white;
    font-weight: 500;
    font-size: 18px;
}

.mynavlinks:hover {
    color: hsl(0, 0%, 8%) !important;
}

.registerBtn {
    border: 1px solid hsl(0, 0%, 41%) !important;
    border-radius: 1em;
}

.registerBtn:hover {
    border: 1px solid hsl(0, 0%, 8%) !important;
    background-color: white;
}


.nav-item {
    padding-left: 2em;
    /* navbar padding on a's */
}

.navbar-brand {
    padding-left: 0.75em;
}

/* any-link οταν πατουσα πανω στα κουμπια μετα εμενε μπλε */
.nav-link:any-link {
    color: hsl(0, 0%, 58%);
}

.dropdown-menu {
    box-shadow: 10px 24px 93px -7px rgba(0, 0, 0, 0.72);
    -webkit-box-shadow: 10px 24px 93px -7px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 10px 24px 93px -7px rgba(0, 0, 0, 0.72);

    border: none;
    border-radius: 0.75em;
}

.hidden {
    display: none;
}

/* #btnToggle:focus {
    border: 1px solid white !important;
    background-color: red; 
} */


/* M A I N */

#btnMore {
    background-color: black;
    color: white;
    border-radius: 0.75em;
    margin-top: 2em;
    margin-left: 6.5em;

}

#btnMore:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid black;
}

img {
    width: 95%;
    height: 82%;
}

h1 {
    padding-top: 1.53em;
    padding-left: 1.2em;
    padding-right: 0.4em;
    font-size: 500%;
    font-weight: 900;
}

p {
    padding-top: 2em;
    padding-left: 6.5em;
    padding-right: 6em;
}


.rowImg {
    padding-left: 7.5em;
    width: 20%;
}

.heroMobile {
    display: none;
}



/* R E S P O N S I V E */

@media screen and (max-width:990px) {
    .heroDesktop {
        display: none;
    }

    .heroMobile {
        display: block;
        padding-left: 1em;

    }

    /* to br μπορω να το κανω ετσι και εξαφανιζεται SOS */
    .brC {
        display: none;
    }

    h1 {
        font-size: 220%;
        padding-left: 0.3em;
        padding-right: 0;
    }

    P {
        padding-left: 2em;
        padding-right: 2em;
    }

    .rowImg {
        padding-left: 2.5em;
        padding-bottom: 2em;
        width: 50%;
    }

    #navbarSupportedContent {
        background-color: white;
        position: fixed;
        /* absolute
        top: 90%;
        left: 50%; */
        top: 6%;
        left: 50%;
        height: 44.5em;
        width: 50%;
        padding-right: 1em;
        opacity: 1.0 !important;
    }

}



/* COLORS */

.mdGrey {
    color: hsl(0, 0%, 58%);
}

.almostWhite {
    color: hsl(0, 0%, 98%);
}

/*  */